#
# Configuration for knxmonitor/knxdecode/knxsonos

# Common settings
groupfile : "/home/trond/Projects/knxmonitor/groupaddresses.csv"
unitfile  : "/home/trond/Projects/knxmonitor/enheter.xml"


# Specific for knxmonitor
fileformat : "old"

#dptfile: "/Users/trond/Projects/knxmonitor/groupaddresses.dptmap"

#push2influx: "TS-653B:8094"
